{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Liberty NFT Marketplace - Explore Listing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/templatemo-liberty-market.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/extras.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
<!--

TemplateMo 577 Liberty Market

https://templatemo.com/tm-577-liberty-market

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'blog-home' %}"s class="logo">
                        <img src="{% static 'assets/images/logo.png' %}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li><a href="{% url 'blog-home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                      <li><a href="{% url 'explore' %}" class="active">Explore</a></li>
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                      <li><a href="{% url 'profile' %}">Profile</a></li>
                      <li><a href="{% url 'post_form' %} ">New Post</a></li>
                    {% else %}
                      <li><a href="{% url 'login' %}">Login</a></li>
                      <li><a href="{% url 'register' %}">register</a></li>
                    {% endif %}
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Liberty NFT Market</h6>
          <h2>More About The Post</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="discover-items">
    <div class="container">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Detail <em>View</em>.</h2>
          </div>
        


        <div class="container">
          <div class="col-lg-12">
            <div class="item">
              <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2 article-author" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    {% if post.author == user %}
                      <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post_delete' object.id %}">Delete</a>
                      </div>
                    {% endif %}
                  </div>
                    <h2 class="padding"><a class="article-title" href="#">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                </div>
              </article>
              <div class="col-lg-12">
                  <div class="main-button">
                    <a href="details.html">View Details</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      

        
      
    </div>
  </div>
  

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2022 <a href="#">Mohammed fasil</a> Co., Ltd. All rights reserved.
          &nbsp;&nbsp;
          Designed by <a title="Fasil" rel="sponsored" href="https://www.linkedin.com/in/mohammed-fasil-65b167253/" target="_blank">Mo Fasil</a></p>
          <p> <a href="#">Privacy Policy</a>  |  <a href="#">Terms of use</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  
  <script src="{% static 'assets/js/isotope.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/tabs.js' %}"></script>
  <script src="{% static 'assets/js/popup.js' %}"></script>

  

  </body>
</html>